// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Colors used in the theme
$base: #ffffff;
//$title: #4a4e52;
$title: #0d3333;
//$main: #48535a;
$main: #4a4e52;
//$endava: #aa0b19;
$endava: #d40000;

// Include theme-specific fonts
@import url(../../lib/font/open-sans/open-sans.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: $base;

$mainColor: $main;
$headingColor: $title;

$mainFontSize: 38px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $endava;
$linkColorHover: darken( $linkColor, 15% );
$selectionBackgroundColor: darken( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

.reveal strong {
  color: $endava;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
  border: 0;
  box-shadow: 0 0 0;
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: -1;
  text-align: right;
}

#logo img {
  width: 30%;
}

.svgimg {
  width: 800px;
  height: 500px;
}